.tab-bar-mobile {
    display: none;
    background-color: #151618;
    width: 95%;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px 1px #00000090;
    overflow: hidden;
    padding: 20px;
    max-width: var(--max-width);
    flex-direction: column;
}
.middle-tab-bar-mobile {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.middle-tab-bar-mobile .search-box-mobile {
    display: flex;
    width: 90%;
    max-width: 500px;
    background-color: #1e2022;
    padding: 5px;
    border-radius: 5px;
}
.middle-tab-bar-mobile .search-box-mobile input {
    width: 100%;
    background: none;
    color: #fff;
    font-weight: bold;
    border: none;
    outline: none;
}
.middle-tab-bar-mobile .search-box-mobile i {
    font-size: 25px;
}
.tab-bar-top-mobile {
    display: flex;
    flex: 1;
    align-items: center;
}
.left-tab-bar-mobile {
    display: flex;
    flex: 1;
    align-items: center;
}
.tab-menu-mobile {
    cursor: pointer;
}
.tab-menu-mobile i {
    color: #fff;
    font-size: 25px;
}
.logo-mobile {
    width: 40px;
    margin: 0 10px;
}
.logo-mobile img {
    width: 100%;
}
.right-tab-bar-mobile {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.right-tab-bar-mobile i {
    font-size: 25px;
    margin: 0 10px;
}

@media(max-width: 850px) {
    .arrow-buttons {
        opacity: 1;
    }
    .product-tab-bar {
        width: auto;
        margin: 0;
    }
    .father-list {
        width: auto;
        margin: 0;
    }
}